<!DOCTYPE html>
<html>
  <head>
    <title>Tiemstamp Microservice</title>
    <meta name="description" content="A cool timestamp microservice">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Timestamp Microservice
      </h1>
    </header>

    <main>
      <p>Pass a string with a valid date in the URL (as in the examples) to get both unix and natural timestamps.<br><br>Examples:<br><br>https://newtimesatamp-microservice.glitch.me/January 1, 2016<br>https://newtimesatamp-microservice.glitch.me/1-1-2016<br>https://newtimesatamp-microservice.glitch.me/1451606400 (unix timestamp)</p>
    </main>

    <!-- Scripts need to be https -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
